@charset "utf-8" ;

/* process-------------- */

.process-item {
    display: flex;
}

.process-head {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ddd;
    transition-duration: .3s;
}

.process-item:hover .process-head {
    background-color: #cf7688;
}

.process-body {
    width: 70%;
    background-color: #fff;
}

.process-item + .process-item {
    margin-top: 2rem;
}

.process-name {
    color: rgba(255, 255, 255, .7);
}

.process-cht, .process-en {
    display: block;
}

.process-cht {
    font-size: 2.5rem;
}

.process-en {
    font-size: 1.5rem;
    margin-top: .5rem;
    text-transform: uppercase;
}

.process-ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: flex;
    flex-wrap: wrap;
}

.process-li {
    padding: 2rem;
    width: 50%;
    /* border: solid 1px #eee; */
    box-sizing: border-box;
}

.process-li::marker {
    color: #cf7688;
    font-size: 1.25rem;
}

.process-li:nth-child(n+3) {
    padding-top: 0;
}

.process-title {
    color: #cf7688;
    font-weight: 600;
    font-size: 1.25rem;
    display: inline;
}

.process-desc {
    margin-top: .5rem;
    color: rgba(0, 0, 0, .7);
    line-height: 1.5;
}