@charset "utf-8";

/* card------------------------ */

.card {
    position: relative;
    background-color: #fff;
}

.card-head {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    opacity: 0;
    transition-duration: .3s;
}

.card:hover .card-head {
    opacity: 1;
}

.card-img {
    max-width: 100%;
    height: auto;
}

.card-title {
    line-height: 1.3;
    color: #fff;
    text-align: center;
    width: 80%;
    font-size: 1.5rem;
}